{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="rounded bg-primary text-white">
                                <h5 class="text-center">FILTRLASH</h5>
                            </div>
                        </div>
                    </div>
                    <form method="get">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="given" id="flexCheckGiven"
                                   {% if request.GET.given %} checked {% endif %}>
                            <label class="form-check-label" for="flexCheckGiven">
                                ID OLGANLAR
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="requests" value="true"
                                   id="flexCheckRequests"
                                   {% if request.GET.requests %} checked {% endif %}>
                            <label class="form-check-label" for="flexCheckRequests">
                                SO`ROVLAR
                            </label>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-secondary btn-sm" type="submit">FILTR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            {% if akex_users or profile %}
            <div class="table-responsive">
                <table class="table table-primary table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Ism</th>
                        <th scope="col">Familiya</th>
                        <th scope="col">Sana</th>
                        <th scope="col">ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for users in akex_users %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><b><a href="{% url 'id_chek' users.username %}">{{ users.username }}</a></b></td>
                        <td>{{ users.username.first_name }}</td>
                        <td>{{ users.username.last_name }}</td>
                        <td>{{ users.created }}</td>
                        <td>X</td>
                    </tr>
                    {% endfor %}
                    {% for user in profile %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><b><a href="{% url 'id_change' user.username %}">{{ user.username }}</a></b></td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.created }}</td>
                        {% if user.akex_id %}
                        <td>{{ user.akex_id }}</td>
                        {% else %}
                        <td>X</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-1">
                        <div class="rounded p-2 bg-danger text-white">
                            <h2 class="text-center">ID olish uchun so`rovlar jo`natilmagan!</h2>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}