{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section class="vh-500 gradient-custom">
    <div class="container py-1 h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-2 col-lg-3 col-xl-5">
                <div class="card bg-primary text-white" style="border-radius: 2rem;">
                    <div class="card-body p-4 text-center">

                        <div class="mb-md-2 mt-md-1 pb-3">
                            <form action="" method="post"> {% csrf_token %}
                                <h2 class="fw-bold mb-2 text-uppercase"> Tizimga kirish</h2>
                                {{ form|crispy }}
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Kirish</button>
                                <hr>
                                <p><a class="text-white"
                                      href="{% url 'reset_password' %}">Parolni unutdim!</a></p>
                            </form>
                        </div>
                        <div>
                            <p class="mb-0">Akkaunt mavjud emasmi?<a href="{% url 'create_profile' %}" class="text-white-50 fw-bold"> Ro'yhatdan
                                o'tish</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
