{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2 class="text-center">Tizimga kirish</h2>
<form method="post" class="form-signin" style="max-width: 300px; margin: 0 auto;"> {% csrf_token %}
    {{ form|crispy }}
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Kirish</button>
    </div>
    <hr>
    <div style="text-align: center;">
        <a href="{% url 'create_profile' %}">Ro'yhatdan o'tish</a>
    </div>
</form>
{% endblock %}
