{% load i18n %}{% autoescape off %}
{% blocktranslate %}Siz {{ site_name }} manzilida foydalanuvchi hisobingiz parolini o‘zgartirishni so‘raganingiz uchun ushbu xatni oldingiz.{% endblocktranslate %}

{% translate "Iltimos, quyidagi sahifaga oʻting va yangi parol tanlang:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate "Foydalanuvchi nomingiz, agar unutgan bo'lsangiz:" %} {{ user.get_username }}

{% translate "Saytimizdan foydalanganingiz uchun tashakkur!" %}

{% blocktranslate %}The {{ site_name }} jamoasi{% endblocktranslate %}

{% endautoescape %}