{% extends 'base.html' %}

{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a
                                href="{% url 'profile' profile.username %}">{{profile.username}}</a></li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="{{ profile.avatar.url }}"
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{ profile.first_name }} {{ profile.last_name }}</h5>
                        {% if profile.akex_id %}
                        <p class="text-muted mb-1">{{ profile.akex_id }}</p>
                        {% else %}
                        <p class="text-muted mb-1">ID yo'q</p>
                        {% endif %}
                    </div>
                </div>
                {% if profile.telegram or profile.phone %}
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            {% if profile.telegram %}
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <p class="mb-0"><a href="{{ profile.telegram }}">Telegram</a></p>
                            </li>
                            {% endif %}
                            {% if profile.phone %}
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                <p class="mb-0">{{ profile.phone }}</p>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Ism - Familiya</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ profile.last_name }} {{ profile.first_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email-manzil</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ profile.email }}</p>
                            </div>
                        </div>
                        {% if profile.phone %}
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Telefon-raqam</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ profile.phone }}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if profile.akex_id %}
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">AkEx-ID</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ profile.akex_id }}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% if profile.address %}
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Uy-manzil</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ profile.address }}</p>
                            </div>
                        </div>
                        {% endif %}
<!--                        {% if profile.pinfl %}-->
<!--                        <hr>-->
<!--                        <div class="row">-->
<!--                            <div class="col-sm-3">-->
<!--                                <p class="mb-0">PINFL</p>-->
<!--                            </div>-->
<!--                            <div class="col-sm-9">-->
<!--                                <p class="text-muted mb-0">{{ profile.pinfl }}</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        {% endif %}-->
<!--                        <hr>-->
<!--                        {% if profile.sp %}-->
<!--                        <div class="row">-->
<!--                            <div class="col-sm-3">-->
<!--                                <p class="mb-0">Seriya Raqam</p>-->
<!--                            </div>-->
<!--                            <div class="col-sm-9">-->
<!--                                <p class="text-muted mb-0">{{ profile.sp }}</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        {% endif %}-->
                    </div>
                </div>
                <a href="{% url 'profile_change_form' profile.username %}"
                   class="btn btn-warning">Tahrirlash</a>
                {% if not profile.akex_id %}
                <a href="#" class="btn btn-secondary">ID OLISH</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}