<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% elif message.tags == 'warning' %}
<div class="alert alert-warning" role="alert">
    {{ message }}
</div>
{% elif message.tags == 'error' %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% elif message.tags == 'info' %}
<div class="alert alert-info" role="alert">
    {{ message }}
</div>
{% endif %}
{% endfor %}

<script type="text/javascript">

    $(document).ready(function () {

    window.setTimeout(function() {
        $(".alert").fadeTo(1500, 0).slideUp(0, function(){
            $(this).remove();
        });
    }, 3000);

    });
</script>